
<h1 class="title">Courses</h1>
<form class="inputDiv" (submit)="addNewCourse(name.value, $event, name)">
    <input id="courseName" placeholder="Course's name" #name type="text">
    <button type="submit">Add Course</button>
  </form>
<form class="inputDiv" (submit)="updateCourse(nameUpdate, $event)">
    <label>Update course</label>
    <input id="courseNameUpdate" placeholder="Course's name" #nameUpdate type="text">
    <button type="submit">Update Course</button>
  </form>
  <form class="inputDiv" (submit)="deleteCourse($event, nameUpdate)">
    <button class="delete" type="submit">Delete Course</button>
  </form>
  <hr>
  @for (course of courses; track course.id) {
    <h2 [class]="course?.status ? 'success' : 'no'" (click)="selectCourse(course.id, $event, nameUpdate)">{{course.name}}</h2>
  }