
<h1 class="title">Projects</h1>
<form class="inputDiv" (submit)="addNewProject(name.value, $event, name)">
    <input id="projectName" placeholder="Project's name" #name type="text">
    <button type="submit">Add Project</button>
  </form>
<form class="inputDiv" (submit)="updateProject(nameUpdate, $event)">
    <label>Update project</label>
    <input id="projectNameUpdate" placeholder="Project's name" #nameUpdate type="text">
    <button type="submit">Update Project</button>
  </form>
  <form class="inputDiv" (submit)="deleteProject($event, nameUpdate)">
    <button class="delete" type="submit">Delete Project</button>
  </form>
  <hr>
  @for (project of projects; track project.id) {
    <h2 [class]="project?.status ? 'success' : 'no'" (click)="selectProject(project.id, $event, nameUpdate)">{{project.name}}</h2>
  }