<style>
    h1 {
      font-size: 3.125rem;
      color: var(--gray-900);
      font-weight: 500;
      margin: 0;
      font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
    }
  
    p {
      margin: 0;
      color: var(--gray-700);
    }
  
    main {
      width: 100%;
      min-height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      box-sizing: inherit;
      position: relative;
    }
  
    .content {
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 1200px;
      margin-bottom: 3rem;
    }
  
    .content h1 {
      margin-top: 1.75rem;
    }
  
    .content p {
      margin-top: 1.5rem;
    }
  
    .items {
      padding: 0 7%;
      border: 10px midnightblue solid;
      border-radius: 25px;
      min-height: 750px;
    }
  
    .inputDiv {
      display: flex;
      flex-direction: column;
    }
  
  </style>

<h1>Projects</h1>
<div class="inputDiv">
    <input placeholder="Project's name" #name type="text">
    <button (click)="addNewProject(name.value)">Add project</button>
  </div>
  @for (project of projects; track project.id) {
    <h2>{{project.name}}</h2>
  }